body{
    background-color: rgb(57, 201, 211);
    font-family: monospace;
    font-size: 100%;
}

a {
    color: black;
    text-decoration: unset;
    font-size: 2em;
}

h3{
    text-align: justify;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 50px;
}

#conteudo {
    background-color: Azure;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

#imagemgeral{
    width: 100%;
    display: inline-block;
    position: relative;
}

#imagemgeral figcaption {
    position: absolute;
    width: 90%;
    top: 100px;
    font-size: 6em;
    text-align: center;
    animation-name: mudacor;
    animation-duration: 5s;
    text-shadow: 0px 0px 5px black;
  }

  @keyframes mudacor{
    from {color:rgb(114, 211, 214);}
    to {color:black;}
}

#navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 80;
    margin-bottom: 30px;
}

#imgcovid{
    width: 90%;
}

#titulodestaque{
    display: flex;
    margin-left: 40px;
    font-size: 1.5em;
}

#noticias {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 50px;
}
#noticias2 {
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 50px;
}

#fontes{
    margin-left: 30px;
}
.noticiasemdestaque{

}

.imgdestaque{
    width: 50%;
    margin-bottom: 10px;
}

h3{
    font-size: 17px;
}
h2{
    font-size: 30px;
}

.destaque{
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-right: 30px;
    text-align: center;
}

.descdestaque{
    text-align: justify;
    margin-left: 30px;
    margin-right: 60px;
}

#rodape{
    justify-content: space-between;
    display: flex;
    margin-right: 70px;
}

#redessociais{
    margin-left: 70px;
    margin-top: 20px;
    padding-bottom: 50px;
}

.rede{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 10px
}

.imgrede{
    width: 8%;
}

.formulario{
    width: 400px;
    padding: 5px;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 10px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: height;
    border-radius: 15px;
}

